<h3> Clients currently registered with <%= @stylist.name %>:</h3>

<% if @clients == [] %>

  <p>You have not entered a client yet. Please do so in the form below</p>

<% else %>

<div class="panel panel-default">
  <% @clients.each do |client| %>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <h4><%= client.name %></h4>
        </div>
        <div class="col-md-4">
          <a href="/client/<%=client.id%>/edit"><button type="button" class="btn btn-success">update client</button></a>
        </div>
        <div class="col-md-4">
          <form action="/clients/<%= client.id() %>" method="post">
             <input class="form-control" type="hidden" name="stylist_id" id="stylist_id" value="<%= @stylist.id %>">
             <input name="_method" type="hidden" value="delete">
             <button type="submit" class="btn btn-danger">delete client</button>
           </form>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


<form action="/clients" method="post">
  <input class="form-control" type="hidden" name="stylist_id" id="stylist_id" value="<%= @stylist.id %>">
  <input type="text" name="client_name" placeholder="enter client's name here">
  <br><br>
  <button type="submit" class="btn btn-primary">Register new client</button>
</form>
<br>
<a href="/">Return to Stylists home directory</a>
